* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

.head-exercise {
  width: 100%;
  background: rgb(36, 145, 100);
  text-align: center;
  padding: 10px;
}

article {
  padding: 10px;
  margin: 10px;
  background: rgba(16, 233, 215, 0.178);
}

.adaptive {
  display: grid;
}

article:nth-child(1) {
  grid-area: a1;
}

article:nth-child(2) {
  grid-area: a2;
}

article:nth-child(3) {
  grid-area: a3;
}

article:nth-child(4) {
  grid-area: a4;
}

article:nth-child(5) {
  grid-area: a5;
}

article:nth-child(6) {
  grid-area: a6;
}

article:nth-child(7) {
  grid-area: a7;
}

article:nth-child(8) {
  grid-area: a8;
}

article:nth-child(9) {
  grid-area: a9;
}

@media screen and (min-width: 1400px) {
  .adaptive {
    grid-template-areas:
      "a1 a1 a2 a2"
      "a3 a3 a3 a3"
      "a4 a4 a5 a5"
      "a6 a7 a8 a9";
  }
}

@media screen and (min-width: 700px) and (max-width: 1399px) {
  .adaptive {
    grid-template-areas:
      "a1 a1 a1 a1"
      "a2 a2 a2 a2"
      "a3 a3 a3 a3"
      "a4 a4 a5 a5"
      "a6 a6 a7 a7"
      "a8 a8 a9 a9";
  }
}

@media screen and (max-width: 699px) {
  .adaptive {
    grid-template-areas:
      "a1"
      "a2"
      "a3"
      "a4"
      "a5"
      "a6"
      "a7"
      "a8"
      "a9";
  }
}

.image-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px 25px;
}

.image {
  display: block;
  margin: 0 auto;
  width: 190px;
  height: 150px;
  transition: transform 0.3s ease, z-index 0s ease;
}

@media screen and (max-width: 1399px) {
  .image-container {
    margin: 0px 70px 20px 90px;
  }
  .image {
    margin-left: -70px;
    &:nth-child(2) {
      margin-top: 30px;
    }
    &:nth-child(3) {
      margin-top: 60px;
    }
    &:nth-child(4) {
      margin-top: 90px;
    }
    &:nth-child(5) {
      margin-top: 120px;
    }
    &:hover {
      transform: scale(1.1);
      z-index: 1;
    }
  }
}

@media screen and (max-width: 699px) {
  .image-container {
    margin: 0px 70px 20px 120px;
  }
  .image {
    margin-left: -100px;
  }
}
