* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

.head-exercise {
  width: 100%;
  background: rgb(36, 145, 100);
  text-align: center;
  padding: 10px;
}

article {
  padding: 10px;
  margin: 10px;
  background: rgba(16, 233, 215, 0.178);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "a1 a2 a3 a3"
    "a1 a4 a3 a3"
    "a1 a5 a6 a7"
    "a8 a9 a9 a10";
}

article:nth-child(1) {
  grid-area: a1;
}

article:nth-child(2) {
  grid-area: a2;
}

article:nth-child(3) {
  grid-area: a3;
}

article:nth-child(4) {
  grid-area: a4;
}

article:nth-child(5) {
  grid-area: a5;
}

article:nth-child(6) {
  grid-area: a6;
}

article:nth-child(7) {
  grid-area: a7;
}

article:nth-child(8) {
  grid-area: a8;
}

article:nth-child(9) {
  grid-area: a9;
}

article:nth-child(10) {
  grid-area: a10;
}

.grid-guide {
  margin: 50px 10%;
}

.grid-menu {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.grid-menu__element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px;
  aspect-ratio: 1 / 1;
  border: 3px solid rgba(16, 233, 215, 0.178);
  margin-right: 10px;
}

.grid-menu__element:hover {
  background: rgba(150, 233, 215, 0.178);
  cursor: pointer;
}

.grid-menu__element--active {
  background: rgba(16, 233, 215, 0.178);
  border: none;
}
.grid-content {
  display: flex;
  justify-content: space-between;
}

.example {
  width: 40%;
  border: 3px solid rgba(16, 233, 215, 0.178);
  padding: 5px;
}

.css {
  width: 40%;
  background-color: #444444;
  color: white;
  padding: 20px;
  font-size: 16px;
}

.grid-explanation {
  margin: 10px 0;

  p {
    margin-bottom: 10px;
  }
  ul {
    margin: 0 0 10px 30px;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  height: 400px;
  aspect-ratio: 1/1;
  border: 2px dotted rgba(16, 233, 215, 0.178);
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(16, 233, 215, 0.178);
}

.child--active {
  background: rgba(16, 100, 100, 0.5);
}

#parent-flow {
  grid-auto-flow: row;
}

#child-justify {
  justify-self: start;
}

#child-align {
  align-self: start;
}
